@import './variables.css';

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color-primary);
    font-family: var(--font-family-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color-primary);
    overflow-x: scroll;
}
  
p,h1,h2 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

/*
* {
    outline: 1px solid red; 
}*/