@import './variables.css';

body {
    margin: 0;
    padding: 0;
    /*background-color: var(--background-color-secondary);*/
    /*background-color: var(--background-color-primary);*/
    /*background: fixed, linear-gradient(to left, transparent, rgb(0, 0, 0)), url('../images/space-1.jpg'), center center / no-repeat;*/
    background: linear-gradient(to left, transparent, rgb(0, 0, 0)),fixed url('../images/space-3.jpg') center no-repeat;
    background-size: cover;
    /*background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center center;*/
    font-family: var(--font-family-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color-primary);
}
  
p,h1,h2 {
    margin: 0;
}
