@import './variables.css';

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color-secondary);
    font-family: var(--font-family-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color-primary);
}
  
p,h1,h2 {
    margin: 0;
}
