@import './fonts.css';

:root {
    /* Font families */ 
    --font-family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    --font-family-secondary: 'Berkshire Swash', 'Comic Sans MS', 'Brush Script MT', cursive;
    
    /* Font sizes */
    --font-size-XS: clamp(10px, 1.25vw, 12px); /* Adjusts between 10px and 14px */
    --font-size-S: clamp(12px, 1.5vw, 14px); /* Adjusts between 12px and 14px */
    --font-size-M: clamp(14px, 1.75vw, 16px); /* Adjusts between 14px and 16px */
    --font-size-L: clamp(18px, 2vw, 20px); /* Adjusts between 18px and 20px */
    --font-size-XL: clamp(30px, 5vw, 60px); /* Adjusts between 25px and 50px */

    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-semiBold: 600;
    --font-weight-bold: 700;

    /* Colors */
    --color-cyan-secondary: cyan;
    --color-darkCyan-secondary: darkCyan;
    --color-orangeRed-secondary: orangeRed;
    --color-red-secondary: red;
    --color-dark-secondary: rgba(19, 19, 23);
    --color-grey-secondary: rgb(163, 163, 163);
    --color-lightGreen-secondary: rgb(88, 241, 88);
    --color-beige-secondary: beige;

    /* Background colors */
    --background-color-primary: white;
    --background-color-secondary: #0c0f11;

    /* Text colors */
    --text-color-primary: white;
    --text-color-cyan-secondary: cyan;
    --text-color-lightCyan-secondary: rgb(10, 253, 249);
    --text-color-orangeRed-secondary: orangeRed;
    --text-color-orange-secondary: orange;
    --text-color-lightGreen-secondary: rgb(88, 241, 88);

    /* spacing */
    --spacing-XXXS: 4px;
    --spacing-XXS: 8px;
    --spacing-XS: 10px;
    --spacing-S: 12px;
    --spacing-M: 16px;
    --spacing-L: 20px;
    --spacing-XL: 24px;
  }
  