:root {
    /* Font families */ 
    --font-family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    --font-family-secondary: 'Courier New', Courier, monospace;
    
    /* Font sizes */ 
    --font-size-small: 0.8rem;
    --font-size-normal: 1rem;
    --font-size-large: 1.2rem;
    --font-size-xlarge: 1.5rem;

    /* Colors */
    --color-cyan-secondary: cyan;
    --color-darkCyan-secondary: darkCyan;
    --color-orangeRed-secondary: orangeRed;
    --color-red-secondary: red;
    --color-dark-secondary: rgba(19, 19, 23);

    /* Background colors */
    --background-color-primary: #1d2128;
    --background-color-secondary: #0c0f11;

    /* Text colors */
    --text-color-primary: white;
    --text-color-cyan-secondary: cyan;
    --text-color-lightCyan-secondary: rgb(10, 253, 249);
    --text-color-orangeRed-secondary: orangeRed;
    --text-color-orange-secondary: orange;
    --text-color-lightGreen-secondary: rgb(88, 241, 88);
   
  }
  