.title {
  align-self: center;
  font-family: var(--font-family-secondary);
  font-size: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: opacity 0.2s ease-in-out;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}