.button_container {
    display: flex;
    gap: 2px
}

.small_button {
    background-color: transparent;
    border: 2px solid var(--color-cyan-secondary);
    border-radius: 8px;
    width: 40px;
    height: 30px;
    color: var(--text-color-primary);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--color-darkCyan-secondary);
    }
}


/* Override for touch devices */
@media (hover: none) and (pointer: coarse) {
    .small_button {
        &:hover {
            background-color: initial;
        }
    }
}