.button_container {
    display: flex;
    gap: 2px
}

.small_button {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border: 2px solid var(--background-color-primary);
    border-radius: 8px;
    width: 40px;
    height: 30px;
    color: var(--text-color-primary);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: var(--font-family-secondary);
    &:hover {
        border-color: var(--color-cyan-secondary);
    }
}


/* Override for touch devices */
@media (hover: none) and (pointer: coarse) {
    .small_button {
        &:hover {
            background-color: initial;
        }
    }
}