.section {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: flex-start;
    border-bottom: 2px solid var(--background-color-primary);
    .section_title {
        font-size: var(--font-size-XL);
        font-family: var(--font-family-secondary);
        margin-bottom: 10px;
        margin-top: 10px;
        z-index: 1;
    }

    :global(.section_content) {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: var(--spacing-L);
        padding-right: var(--spacing-L);
        transition: transform 1s;
        transform: scale(0.5);
    }

    &:nth-child(even) {
        background: linear-gradient(to left, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.6)),var(--color-darkCyan-secondary);
    }
    &:nth-child(odd) {
        background: linear-gradient(to left,rgba(0, 0, 0, 0.6) , rgba(255, 255, 255, 0.1)),var(--color-darkCyan-secondary);
    }

    &:nth-child(2) {
        background: radial-gradient(at 50% 10%, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.6)),var(--color-darkCyan-secondary);
    }

    &:last-child {  
        background: radial-gradient(circle at center 70%, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7)),var(--color-darkCyan-secondary);
        justify-content: center;
        height: 500px;
    }
    :global(.section_content.animate.animate) {
        transform: scale(1);
    }
}

@media (min-width: 768px) {
    .section {
        margin-left: var(--spacing-L);
        margin-right: var(--spacing-L);
        border-bottom: 2px solid var(--background-color-secondary);
        :global(.section_content) {
           width: 80%;
           opacity: 0;
           transition: opacity 2s, transform 2s ease;
        }
        &:nth-child(even) {
            background: linear-gradient(to left, var(--background-color-secondary), var(--color-lightDarkCyan-secondary));
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            :global(.section_content) {
                padding-left: 30px;
                justify-content: flex-start;
                align-self: flex-start;
                transform: translateX(100%);
            }
        }
        &:nth-child(odd) {
            background: linear-gradient(to right, var(--background-color-secondary), var(--color-lightDarkCyan-secondary));
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            :global(.section_content) {
                padding-right: 30px;
                align-self: flex-end;
                justify-content: flex-end;
                transform: translateX(-100%);
            }
        }
        &:last-child { 
            border-bottom-right-radius: 0px;
            :global(.section_content) {
                align-self: center;
                justify-content: center;
            }
        }
    }
    :global(.section_content.animate.animate) {
        opacity: 1;
        transform: translateX(0);
    }
}
