.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: flex-start;
    border-bottom: 2px solid;
    &:nth-child(even) {
        background: linear-gradient(to left, var(--background-color-primary) 2%, var(--color-darkCyan-secondary) 35%,var(--color-dark-secondary));
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        .section_content {
            padding-left: 30px;
            align-self: flex-start;
        }
    }
    &:nth-child(odd) {
        background: linear-gradient(to right, var(--background-color-primary) 2%, var(--color-darkCyan-secondary) 35%, var(--color-dark-secondary));
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        .section_content {
            padding-right: 30px;
            align-self: flex-end;
        }
    }
    .section_content {
        display: flex;
        width: 80%;   
    }

    &:last-child {  
       padding-bottom: 0px;
        .section_content {
            justify-content: center;
            align-self: center;
        }
    }


}

@media (max-width: 768px) {
    .section {
        &:nth-child(even) {
            background: linear-gradient(to left, var(--background-color-primary) 5%, var(--color-darkCyan-secondary) 5%,var(--color-dark-secondary));
        }
        &:nth-child(odd) {
            background: linear-gradient(to right, var(--background-color-primary) 5%, var(--color-darkCyan-secondary) 5%, var(--color-dark-secondary));
        }
    }
}
