.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: flex-start;
    border-bottom: 2px solid;
    .section_content {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-left: var(--spacing-L);
        padding-right: var(--spacing-L);
    }

    &:nth-child(even) {
        background: linear-gradient(to left, var(--color-darkCyan-secondary) ,var(--color-dark-secondary));
    }
    &:nth-child(odd) {
        background: linear-gradient(to right, var(--color-darkCyan-secondary) , var(--color-dark-secondary));
    }

}

@media (min-width: 768px) {
    .section {
        margin-left: var(--spacing-L);
        margin-right: var(--spacing-L);
        .section_content {
            width: 80%;
        }
        &:nth-child(even) {
            background: linear-gradient(to left, var(--background-color-primary) 2%, var(--color-darkCyan-secondary) 35%,var(--color-dark-secondary));
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            .section_content {
                padding-left: 30px;
                align-self: flex-start;
            }
        }
        &:nth-child(odd) {
            background: linear-gradient(to right, var(--background-color-primary) 2%, var(--color-darkCyan-secondary) 35%, var(--color-dark-secondary));
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            .section_content {
                padding-right: 30px;
                align-self: flex-end;
            }
        }
        &:last-child {  
            .section_content {
                align-self: center;
            }
        }
    }
    
}
