.inner_clear_button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-color-primary);
  cursor: pointer;
  z-index: 1;
  transition: transform 0.2s ease-in-out; 
  padding: var(--spacing-M);
  box-sizing: content-box;  
  &:hover {
    transform: translateY(-50%) scale(1.3);
  }

}

.input {
  width: 100%;
  padding: var(--spacing-M);
  padding-right: calc(2 * var(--spacing-M) + 28px);
  border-radius: 8px;
  border: 3px solid rgba(255,255,255,0.8);
  background-color: transparent;
  color: var(--text-color-primary);
  font-size: 16px !important;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(255,255,255,0.8);
}

.input:-webkit-autofill,
.input:autofill {
  transition: background-color 9999s, color 9999s !important;
}

.input:valid {
  border-color: var(--color-lightGreen-secondary);
  box-shadow: none;
}

.input::placeholder {
  font-size: 16px;
}

.error {
  border-color: var(--color-red-secondary);
  &:focus {
    box-shadow: none;
  }
}

.clear_button {
  background-color: transparent;
  color: var(--text-color-primary);
  cursor: pointer;
  font-size: var(--font-size-M);
  padding: var(--spacing-XS);
  border-radius: 8px;
  height: 100%;
  border: 3px solid rgba(255,255,255,0.8);
  transition: transform 0.2s ease-in-out; 
}

.clear_button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 4px rgba(255,255,255,0.8);
}