.background_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(3px);
}

.content_container {
  flex-direction: column;
  background-color: var(--background-color-primary);
  padding-top: var(--spacing-XS);
  padding-bottom: var(--spacing-L);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 80%;
  aspect-ratio: 4/3;
  height: 90%;
  gap: var(--spacing-XS);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.content_container.active {
  opacity: 1;
}

.button_container {
  display: flex;
  align-items: center;
  gap: var(--spacing-XXS);
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: var(--spacing-S);
  padding-right: var(--spacing-S);
}

.icon {
  color: var(--background-color-secondary);
  &:hover {
      transform: scale(1.2);
  }
}

h5 {
  color: var(--background-color-secondary);
  margin: 0px;
  font-size: var(--font-size-M);
}

.loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


@media (max-width: 768px) {
  .background_container {
    align-items: flex-end;
  }

  .content_container {
    width: 100%;
    max-width: 100%;
    max-height: 85%;
    transition: transform 0.5s ease-in-out;
    transform: translateY(100%);
    opacity: 1;
  }

  .content_container.active {
    transform: translateY(0);
  }

}