.container {
    overflow: hidden;
    word-wrap: break-word;
}

.profile_image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: left;
    shape-outside: circle(50%);
    margin-right: 10px;
    border: 3px solid white;
}

@media (max-width: 400px) {
    .profile_image {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 270px) {
    .profile_image {
        width: 60px;
        height: 60px;
        border-width: 2px;
    }
}

@media (max-width: 225px) {
    .profile_image {
        display: none;
    }
}

.text {
    text-justify: justify;
}

.margin_top {
    margin-top: 20px;
}