
.skills_container {
    display: flex;
    overflow: hidden;
    word-wrap: break-word;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--spacing-XS);
    width: 100%;
    
    .category_container {
        border: solid rgba(255,255,255,0.2);
        flex: 1;
        border-radius: 20px;
        padding: var(--spacing-M);
        h3::after {
            content: ":";
            color: var(--color-lightGreen-secondary);
            margin-left: 0.05em;
        }

        &:nth-child(3) {
            h3::after {
                content: ":";
                color: var(--color-cyan-secondary);
                margin-left: 0.05em;
            }
        }
        .items_container {
            display: flex;
            gap: var(--spacing-XXS);
            flex-direction: column;
            align-items: flex-start;
            .button {
                -webkit-tap-highlight-color: transparent;
                padding: var(--spacing-XXS);
                width: 100%;
                min-width: 150px;
                background-color: transparent;
                color: var(--text-color-primary);
                display: flex;
                flex-direction: column;
                border-radius: 20px;
                border: none;
                cursor: pointer;
                transition: all 0.3 ease;
                font-size: var(--font-size-S);

                .button_title_row {
                    flex-direction: row;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-left: var(--spacing-XXXS);
                    width:100%
                }
                .button_title {
                    column-gap: var(--spacing-XXXS);
                    flex-direction: row;
                    display: flex;
                    align-items: center;
                }

                &:hover {
                    transform: scale(1.04);
                    box-shadow: 0 0 5px var(--color-grey-secondary);
                    background-color: rgba(0,0,0,0.09);
                }
                .expanded {
                    padding: 2px;
                    .text {
                        text-align: left;
                        font-size: var(--font-size-S);
                    }
                }
            }
        }
    }
}
@media (hover: none) and (pointer: coarse) {
    .skills_container .category_container .items_container .button:hover {
        transform: none;
        background-color: transparent;
    }
}

.selected {
    box-shadow: 0 0 5px var(--color-grey-secondary);
}

.rotate_up {
    animation: rotateTo0 0.2s linear forwards;
}

.rotate_down {
    animation: rotateTo180 0.2s linear forwards;
}

@keyframes rotateTo180 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes rotateTo0 {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.loading_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
