.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 60, 0.9), rgba(0, 0, 80, 0.8) 15%, rgba(0, 0, 80, 0.8) 75%, rgba(0, 0, 80, 0.9));
  overflow: hidden;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: var(--spacing-XL);
  width: 100%;
  height: 100%;
  padding-left: var(--spacing-L);
  padding-right: var(--spacing-L);
  scrollbar-width: none;
  overflow-y: scroll;
  padding-bottom: var(--spacing-XL);
}


@media (max-width: 768px) {
  .form_container {
    justify-content: flex-start;
    padding-bottom: 80px;
  }
}

.submit_button {
  background-color: transparent;
  color: var(--text-color-primary);
  cursor: pointer;
  font-size: 16px;
  padding: var(--spacing-S);
  border: 3px solid rgba(255,255,255,0.8);
  border-radius: 4px;
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  justify-content: center;
  transform: scale(1);
}

.submit_button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  transform: scale(1);
  box-shadow: none;
}

.submit_button:disabled:hover {
  transform: scale(1);
  box-shadow: none;
}

.submit_button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 4px rgba(255,255,255,0.8);
}

.spinner {
  justify-content: center;
  align-items: center;
}
