.container {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow: hidden;
}

.title {
    font-size: var(--font-size-XL);
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 1;
}

.sub_title {
    margin-top: var(--spacing-XXXS);
    margin-bottom: var(--spacing-XXS);
}

.text {
    font-size: var(--font-size-M);
}

.intro {
    margin-top: var(--spacing-M);
    font-size: var(--font-size-M);
    text-align: start;
}

.button_container {
    display: flex;
    .button {
        text-decoration: none;
        text-align: center;
        font-size: var(--font-size-M);
        -webkit-tap-highlight-color: transparent;
        margin-top: var(--spacing-L);
        padding: var(--spacing-XXS);
        width: 100%;
        background-color: transparent;
        color: var(--text-color-primary);
        border-radius: 20px;
        border: 3px solid rgba(255,255,255,0.8);
        cursor: pointer;
    }
}
