.container {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow: hidden;
    padding-top: var(--spacing-XS);
}

.title {
    font-size: var(--font-size-XL);
    font-family: var(--font-family-secondary);
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 1;
}

.sub_title {
    margin-top: var(--spacing-XXXS);
    margin-bottom: var(--spacing-XXS);
}

.text {
    font-size: var(--font-size-M);
}

.intro {
    margin-top: var(--spacing-M);
    font-size: var(--font-size-M);
    text-align: start;
}

.button_container {
    display: flex;
    .button {
        text-decoration: none;
        text-align: center;
        font-size: var(--font-size-M);
        -webkit-tap-highlight-color: transparent;
        margin-top: var(--spacing-L);
        padding: var(--spacing-XXS);
        width: 100%;
        background-color: transparent;
        color: var(--text-color-primary);
        border-radius: 20px;
        border: 3px solid rgba(255,255,255,0.8);
        cursor: pointer;

        &:hover {
            border-color: var(--color-cyan-secondary);
        }
    }
}

.sk8_image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    float: left;
    shape-outside: circle(50%);
    margin-right: 10px;
    border: 3px solid white;
}

@media (min-width: 1165px) {
    .sk8_image {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 400px) {
    .sk8_image {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 270px) {
    .sk8_image {
        display: none;
    }
    .divider {
        display: none;
    }
}

.divider {
    border: 1px solid rgba(255,255,255,0.7);
    margin-top: 10px;
}

@media (min-width: 768px) {
    .divider {
        border: 1px solid rgba(255,255,255,0.4);
    }
}