.App {
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-translate-spin infinite 10s linear;
  }
}

.App-header {
  text-align: center;
  background-color: rgb(56, 60, 68);
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg) translateY(110vh);
  }
  to {
    transform: rotate(360deg) translateY(0);
  }
}

@keyframes App-logo-translate-spin {
  0% {
    transform: translateX(-50px) rotate(0deg);
  }
  50% {
    transform: translateX(50px) rotate(360deg);
  }
  100% {
    transform: translateX(-50px) rotate(720deg);
  }
}

.fade-in-element {
  opacity: 0; /* Start with 0 opacity */
  animation: fadeIn 3s infinite forwards; /* Apply the fadeIn animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with 0 opacity */
  }
  100% {
    opacity: 1; /* End with 1 opacity */
  }
}

.nav {
  width: 250px;
  height: 100%;
  padding: 20px;
  border-top: 1px solid #ccc;
  position: 'relative'
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  transition: margin 1s;
  margin: -200px 0 0 0;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper.is-nav-open {
  margin-top: 0px;
}

.button {
  border-radius: 20px;
  border-width: 0px;
  width: 100px;
  cursor: pointer;
  transition: color .4s;
}

.button.is-button-open {
  animation: scaling 1.5s ease-in-out forwards
}

.button:hover {
  color: #61dafb;
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.sticky-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  z-index: 1;
}

.header-sections {
  background-color: rgb(40, 47, 79, 0.7);
  color: white;
  position: fixed;
  height: 20vh;
  padding-top: 40px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.open {
  transform: translateY(0);
  transition: transform 0.3s;
}

.closed {
  transform: translateY(-150%);
  transition: transform 0.3s;
}

/* The header is visible */
.visible {
  opacity: 1;
  transform: translateY(0); /*  No vertical transformation */
  transition: opacity 0.3s, transform 0.3s; /* Smooth transition effect */
}

/* The header is hidden */
.hidden {
  opacity: 0; /* Fully transparent */
  transform: translateY(-100%);  /*Move the header above the viewport */
  transition: opacity 0.3s, transform 0.3s; /* Smooth transition effect */
}

.menu-items-visible {
  transform: translateX(0px);
  transition: transform 0.3s;
}

.menu-items-hidden {
  transform: translateX(500px);
  transition: transform 0.3s;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


.section-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: white;
  transform: scale(2);
  opacity: 0;
  transition: opacity 0.5s, transform 1s;
}

.section-title.animate {
  transform: scale(1);
  opacity:1;
}

.small-button {
  border-color: cyan;
  background-color: transparent;
  border-width: 2px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.no-bullets {
  list-style-type: none;
}

.li-item {
  color: white;
  transition: color 0.3s ease;
  position: relative;
  padding-bottom: 4px;
  cursor: pointer;
}

.li-item:hover {
  color: cyan;
}

.li-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: darkcyan;
  transition: width 0.3s ease;
}

.li-item:hover::after {
  width: 100%;
}

.header-button {
  border-color: cyan;
  background-color: transparent;
  border-width: 2px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  cursor: pointer;
}

.hover-color-effect:hover {
  background-color: darkcyan;
}