.App {
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color-primary);
}

.section_title {
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--font-size-XL);
  transform: scale(0.5);
  opacity: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: opacity 0.5s, transform 1s;
}

.section_title.animate {
  transform: scale(1);
  opacity:1;
}

.hover-color-effect:hover {
  background-color: var(--color-darkCyan-secondary);
}

/* Override for touch devices */
@media (hover: none) and (pointer: coarse) {
  .hover-color-effect:hover {
    background-color: initial;
  }
}
