.App {
  min-height: 100vh;
  background-color: var(--background-color-primary);
}

.section_title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  transform: scale(2);
  opacity: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: opacity 0.5s, transform 1s;
}

.section_title.animate {
  transform: scale(1);
  opacity:1;
}



.small-button {
  border-color: cyan;
  background-color: transparent;
  border-width: 2px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 40px;
  height: 30px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hover-color-effect:hover {
  background-color: var(--color-darkCyan-secondary);
}

/* Override for touch devices */
@media (hover: none) and (pointer: coarse) {
  .hover-color-effect:hover {
    background-color: initial;
  }
}
