.icon_button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--background-color-primary);
    &:hover {
        transform: scale(1.2);
        color: aqua;
    }
}