.header_button {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
  
  .hamburger_icon {
      width: 40px;
      height: 40px;
      border: 2px solid var(--background-color-primary);
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
  }

  .line {
      width: 60%;
      border: 1px solid var(--background-color-primary);
      transition: all 0.3s ease-in-out;
      border-radius: 2px;
  }

  .hamburger_icon.open .line:nth-child(1) {
      transform: translateY(6.8px) rotate(45deg);
  }

  .hamburger_icon.open .line:nth-child(2) {
      opacity: 0;
      transform: scaleX(0);
  }

  .hamburger_icon.open .line:nth-child(3) {
      transform: translateY(-6.8px) rotate(-45deg);
  }
}
